---
import { Icon } from "astro-icon/components";
---

<div
  aria-hidden="true"
  class="group/cta relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
>
  <slot />
  <Icon
    name="line-md:arrow-small-right"
    class="ml-1 h-4 w-4 transition-transform duration-200 group-hover/cta:translate-x-0.5"
  />
</div>
