---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  id="theme-toggle"
  aria-label="Toggle theme"
  class="group cursor-pointer rounded-full bg-white/90 px-3 py-2 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20"
>
  <Icon
    name="line-md:sunny"
    aria-hidden="true"
    class="h-6 w-6 text-zinc-500 transition group-hover:text-zinc-700 dark:hidden"
  />
  <Icon
    name="line-md:moon"
    aria-hidden="true"
    class="hidden h-6 w-6 text-zinc-500 transition group-hover:text-zinc-400 dark:block"
  />
</button>

<script>
  const toggle = document.getElementById("theme-toggle")!;
  toggle.addEventListener("click", () => {
    const isDark = document.documentElement.classList.toggle("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  });
</script>
